/* Panel */
.control-panel {
    padding: 20px;
    width: calc(30% - 40px);
    height: 100%;

    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    border-left: 1px solid black;
}

/* Form */

.form {
    display: inline-block;
}

.form span.title {
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.form button {
    margin: 8px;
    width: calc(100% - 16px);
}

.form input {
    width: calc(100% - 16px - 8px);
    margin: 8px;
}