.client {
    width: calc(200px - 24px);
    height: calc(200px - 24px);
    border-radius: 16px;

    margin: 12px;
    padding: 12px;
    float: left;
}

.client.status-0 {
    background-color: red;
}

.client.status-1 {
    background-color: #4cb9b0;
}

.client.status-2 {
    background-color: yellow;
}

.client span.username, .client span.bank {
    text-align: center;
    width: 100%;
    display: block;
    padding: 4px 0;
}

.client button.interaction {
    width: 100%;
    border: none;
    font-size: 14px;
    margin-top: 6px;
    cursor: pointer;
}