@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

button {
    cursor: pointer;
}

div.clients {
    position: absolute;
    top: 0;
    left: 0;

    width: 70%;

    display: inline-block;
}

@media (prefers-color-scheme: dark) {
    body, html {
        background: #161625;
    }
}